<h1>Welcome to Disney Destinations!</h1>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Links</a>
    <div class="dropdown-content">
      <a href="http://localhost:3000/characters">Characters</a>
      <a href="http://localhost:3000/hotels">Hotels</a>
      <a href="http://localhost:3000/parks">Parks</a>
      <a href="http://localhost:3000/restaurants">Restaurants</a>
      <a href="http://localhost:3000/rides">Rides</a>
    </div>
  </li>
</ul>
