<h2>Front Page Information</h2>

<p>
  <strong>Name:</strong>
  <%= @front_page.frontpage_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @front_page.frontpage_description %>
</p>

<%= link_to 'Back', front_pages_path %>
<%= link_to 'Edit', edit_front_page_path %>
